    <footer>
        <div class="row">
            <div class="column">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/counselling.html">Counselling</a></li>
                    <li><a href="/hypnotherapy.html">Hypnotherapy</a></li>
                    <li><a href="/workshops.html">Workshops</a></li>
                    <li><a href="/shop.html">Shop/Free Stuff</a></li>
                    <li><a href="/prices.html">Contact/Prices</a></li>
                    <li><a href="/gdpr.html">Data Protection</a></li>
                    <li><a href="http://blog.bluebell-therapy.co.uk/" target="_blank">Blog</a></li>
                </ul>
            </div>
        </div>
        <div class="row no-mb">
            <div class="column">
                <div class="social">
                    <ul>
                        <li id="facebook">
                            <a href="https://www.facebook.com/bluebelltherapy/" target="_blank"></a>
                        </li>
                        <li id="instagram">
                            <a href="https://www.instagram.com/bluebelltherapy/" target="_blank"></a>
                        </li>
                        <li id="linkedin">
                            <a href="https://www.linkedin.com/in/judith-mason-18b13787/" target="_blank"></a>
                        </li>
                        <li id="twitter">
                            <a href="https://twitter.com/bluebelltherapy" target="_blank"></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="column">
                <div class="footer-email">
                    <p>Sign up to our mailing list for blogs, newsletters and news of forthcoming workshops and events</p>
                    <form action="/email.html" method="post">
                        <input type="email" name="email" value="" placeholder="email address">
                        <input value="Send" type="submit">
                    </form>
                </div>
            </div>
        </div>
    </footer>