 <header>
        <div class="dt">
            <ul class="list-clear">
                <li class="sub-nav"><a href="#">Counselling</a>
                    <div class="hidden-sub">
                        <a href="/counselling.html">For Adults</a>
                        <a href="/counselling.html#child">For Children</a>
                    </div>
                </li>
                <li><a href="/hypnotherapy.html">Hypnotherapy</a></li>
                <li class="sub-nav"><a href="#">Workshops</a>
                    <div class="hidden-sub">
                        <a href="/relaxation.html">Relaxation</a>
                        <a href="/workshops.html">Workshops&nbsp</a>
                    </div>
                </li>
                <li class="logo-container">
                    <a href="/"><img src="../images/logo.jpg" alt="logo" /></a>
                </li>
                <li><a href="/shop.html">Shop/Free Stuff</a></li>
                <li><a href="/prices.html">Contact/Prices</a></li>
                <li><a href="http://blog.bluebell-therapy.co.uk/" target="_blank">Blog</a></li>
            </ul>
        </div>
        <div class="mobile-wrapper">
            <div class="tm">
                <ul class="list-clear">
                    <li class="logo-container">
                        <a href="http://www.bluebell-therapy.co.uk"><img src="/images/logo.jpg" alt="logo" /></a>
                    </li>
                    <li class="fr">
                        <div id="nav-icon1">
                            <span></span>
                            <span></span>
                            <span></span>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </header>