        <div class="row">   
            <div class="column text-center">
                <div class="">
                    <h4>I am a member of:</h4>
                    <a href="https://www.nationalcounsellingsociety.org/find-counsellor/results/ncs13-00313/" target='_blank'><img src="../images/ncs-logo.svg" alt="national counselling society" class="image-divide-right"></a>
                    <a href="https://www.nationalhypnotherapysociety.org/find-therapist/results/jm00p1681/" target='_blank'><img src="../images/nhs-logo.svg" alt="national hypnotherapy society" class="image-divide-left"></a>
                </div>
            </div>
        </div>