    <main>
        <div class="hero text-center">
            <h1>Bluebell Therapy</h1>
            <h5>Judith Mason</h5>
            <p>
                A Nottingham based caring and confidential Counselling and Hypnotherapy service.
            </p>
            <div class="hero-button">
                <h3>Find out more about</h3>
                <a class="button button-white button-center" href="/hypnotherapy.html">Hypnotherapy</a>
                <a class="button button-white button-center" href="/counselling.html">Counselling</a>
                <a class="button button-white button-center" href="/workshops.html">Workshops</a>
            </div>
        </div>
        <div class="row">
            <div class="column">
                <div class="inner-column">
                    <div class="text-center">
                        <div class="image-container">
                            <img src="../images/judith_new.jpg" alt="clouds">
                        </div>
                        <h2>About me</h2>
                        <p>Hi, I’m Judith Mason and I run Bluebell Therapy, offering <a href="/counselling.html">counselling</a> and <a href="/hypnotherapy.html">hypnotherapy</a>. My practice
                            room is in Beeston, Nottingham, where I live with my family and a couple of well-behaved pets. I trained
                            to be a therapist several year ago, after 20 years’ experience as a teacher. In both my careers,
                            I have been motivated by wanting to help and support people to reach their personal potential.
                            I still love working with young people and now offer therapy to clients of all ages. I am also a Senior Lecturer, teaching and mentoring
                            trainee therapists for Chrysalis Courses, have experience as a secondary school counsellor and
                            offer mental health <a href="/workshops.html">workshops</a>.</p>
                        <p>I’m really passionate about the benefits of counselling and hypnotherapy – they are fantastic tools
                            for change and personal growth. I work with all sorts of issues but have a particular interest
                            in anxiety disorders and phobias. Anxiety isn’t a life sentence … therapy can really help. </p>
                        <p>My qualifications and training:</p>
                        <ul>
                            <li>Diploma in Hypnotherapy and Counselling (Distinction)</li>
                            <li>Advanced Diploma In Psychotherapeutic Counselling</li>
                            <li>Professional Diploma in Integrative Counselling</li>
                            <li>Professional accredited member of the <a href="https://www.nationalhypnotherapysociety.org/" target="_blank">National Hypnotherapy Society</a> and <a href="https://www.nationalcounsellingsociety.org/" target="_blank">National Counselling
                                Society</a>
                            </li>
                            <li>PGCE in Primary Teaching</li>
                            <li>Additional training in various areas, including Self-harming behaviour, Suicide Awareness, Anxiety
                                disorders, Depression.</li>
                            <li>Up to date DBS check.</li>

                        </ul>

                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="column">
                 <div class='inner-column text-center'>
                    <span itemscope itemtype="http://schema.org/Question">
                        <h3 itemprop="name">What is Hypnotherapy?</h3>
                            <span itemprop="suggestedAnswer" itemscope itemtype="http://schema.org/Answer">
                                <p class='text-center' itemprop="text">Hypnotherapy is a type of psychological therapy which utilizes hypnosis. This process alters our state of consciousness in a way that represses the conscious part of the mind while also revealing or stimulating the subconscious part. This part is susceptible to positive suggestion, which can bring about meaningful change to thoughts, feelings and behaviours. A qualified hypnotherapist is able to use suggestion in an appropriate way to facilitate this change.</p>
                            </span>
                    </span>
                    <span>
                        <h3>Can I be made to do something I don’t want to?</h3>
                        <h4 class='text-center'>You are in control at all times.</h4>
                        <p class='text-center'>Stage hypnosis works on the principle that the participants want to engage in extrovert behaviour – you don’t volunteer for a stage show unless you are willing to make a bit of a fool of yourself. In a hypnotherapy session, you cannot be made to do something that you don’t want to. Moreover, the therapeutic relationship is one of trust and you and the therapist will have discussed your goals for treatment in depth.</p>
                    </span>
                    <a class="button button-med button-center" href="/hypnotherapy.html">Read more about Hypnotherapy</a>
                </div>
            </div>
        </div>

        

        <div class="row">
            <div class="column column-alt-blue">
                <div class="text-center column-alt-padding contact-me">
                    <div class="inner-column">
                        <h3>Contact Me</h3>
                        <p>If you would like a chat about how therapy can help you:</p>
                        <p>Call <strong><a href="tel:07599136677">07599136677</a></strong> or email <strong><a href="mailto:bluebelltherapy@gmail.com">bluebelltherapy@gmail.com</a></strong></p>
                    </div>
                </div>
            </div>
        </div>

{{>memberof}}

    </main>