header {
    width:100%;
    box-shadow: 0 4px 10px -6px $blue;
    padding-bottom: 5px;
    background-color: $white;
    height:86.11px;
}

header ul:not(.hidden-sub) {
    margin-left:auto;
    margin-right:auto;
    width:886px;
    margin: 0 auto 0 auto;
    text-align: center;
}

header ul li {
    width:120px;
    margin: 30px 5px 0 5px;   
    position: relative;
}

header ul li:last-of-type {
    width:90px;
}

header .mobile-wrapper ul {
    width:auto;
} 

header .mobile-wrapper ul li:not(.logo-container) {
    width:auto;
} 

header ul li a {
    color: $grey;  

    &:hover {
        color: $green; 
    }
}

.logo-container {
    width:8rem;
    height:8rem;
    margin:0 10px 0 10px;
    position: relative;
}

.image-container img {
    width:20%;
    border-radius: 50%;
}