.image-divide-right {
    border-right: 1px solid #ccc;
    padding-right:10px;
}

.image-divide-left {
    padding-left:5px;
}

@media (max-width:650px){
    .image-divide-right {
        border-right: none;
        border-bottom: 1px solid #ccc;
        padding-bottom:40px;
        padding-right: 0;
    }

    .image-divide-left {
        padding-top:40px;
        padding-left:0;
    }

}

@media (max-width:650px) and (min-width:583px){
    .image-divide-right {
        border-right: none;
        border-bottom: none;
        padding-bottom:0;
        padding-right: 0;
    }

    .image-divide-left {
        padding-top:0;
        padding-left:0;
    }
}